<mat-card class="form-container">
    <mat-card-header>
        <mat-card-title>Add New Person</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="personForm">
            <div class="name-container">
                <div class="two-column">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name: </mat-label>
                        <input matInput placeholder="First Name" id="first-name" type="text"
                            formControlName="firstName">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Last Name: </mat-label>
                        <input matInput placeholder="Last Name" id="last-name" type="text" formControlName="lastName">
                    </mat-form-field>
                </div>
            </div>

            <div class="phone-container">
                <div class="one-column">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone Number: </mat-label>
                        <ngx-mat-input-tel id="phoneNumber" formControlName="phone" placeholder="Phone Number"
                            [onlyCountries]="['us']" format="national" />
                    </mat-form-field>
                </div>
            </div>

            <div class="address-container" formGroupName="address">
                <h3>Address:</h3>

                <div class="address-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Address Line 1: </mat-label>
                        <input matInput placeholder="Address Line 1" id="addressLine1" type="text"
                            formControlName="addressLine1">
                    </mat-form-field>
                </div>

                <div class="address-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Address Line 2: </mat-label>
                        <input matInput placeholder="Address Line 2" id="addressLine2" type="text"
                            formControlName="addressLine2">
                    </mat-form-field>
                </div>

                <div class="address-input">
                    <mat-form-field appearance="outline">
                        <mat-label>City: </mat-label>
                        <input matInput placeholder="City" id="city" type="text" formControlName="city">
                    </mat-form-field>

                </div>

                <div class="two-column">
                    <mat-form-field appearance="outline">
                        <mat-label>State: </mat-label>
                        <input matInput placeholder="State" id="state" type="text" formControlName="state">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Zip Code: </mat-label>
                        <input matInput placeholder="Zip Code" id="zip-code" type="text" formControlName="zipCode"
                            maxlength="10">
                    </mat-form-field>
                </div>
            </div>
        </form>

        <div>Complete the form to enable button.</div>

        <mat-card-actions>
            <button mat-raised-button type="submit" [disabled]="!personForm.valid" (click)="onSubmit()">Submit</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>